---
import BaseLayout from '../layouts/BaseLayout.astro'
const { frontmatter } = Astro.props
---

<BaseLayout pageTitle={frontmatter.title}>
  <p>Tags</p>
  <ul class="tags">
    {frontmatter.tags.map((tag: string) => <li class="tag"><a href={`/tags/${tag}`}>{tag}</a></li>)}
  </ul>
  <p>
    Written by
    <span
      style="text-decoration: underline; color: blue"
    >{frontmatter.author}</span> published on:
    {new Date(frontmatter.pubDate).toLocaleDateString()}
  </p>
  <div>
    <img  src={frontmatter.image.url} alt={frontmatter.image.alt} width="500" src="500" />
  </div>
  <slot />
  <style>
  .tags {
    font-size: .8rem;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: .8em;
    padding: 0;
  }

  .tag {
    background-color: #4c1d95;
    color: white;
    padding: .5em .8em;
    text-transform: capitalize;
  }

  .tag a {
    text-decoration: none;
    color: inherit;
  }

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  </style>
</BaseLayout>
